name: Build images on caddy update
# check if Base-Image library/caddy:alpine has been updated, and if so, do a rebuild

on:
  schedule:
    - cron:  '42 21 * * */2'
  workflow_dispatch:
    inputs:
      force_build:
        description: 'Force build'
        required: true
        default: 'no'
        type: choice
        options:
          - "no"
          - "yes"

jobs:
  check:
    name: check for new release of caddy
    runs-on: ubuntu-latest
    outputs:
      needs-updating: ${{ steps.check.outputs.needs-updating }}
      saved-build-date: ${{ steps.saved.outputs.saved-build-date }}
      days-since-last-build: ${{ steps.days-since-build.outputs.days-since-last-build }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: gh-workflows
    
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }} 

      - name: Check if update available
        id: check
        uses: lucacome/docker-image-update-checker@v3
        with:
          base-image: library/caddy:alpine
          image: glopix/caddy-docker-proxy-with-acmedns

      - name: Read previously saved image build date
        id: saved
        run: |
          if [ -f "./gh-workflow_image-build-date.txt" ]; then
            SAVED_BUILD_DATE=$(cat ./gh-workflow_image-build-date.txt)
          else
            SAVED_BUILD_DATE="none"
          fi
          echo "saved-build-date=$SAVED_BUILD_DATE" >> "$GITHUB_OUTPUT"
          echo "SAVED_BUILD_DATE=$SAVED_BUILD_DATE" >> "$GITHUB_ENV"
           
      - id: days-since-build
        name: get number of days since last image build
        run: |
          DAYS_SINCE_LAST_BUILD_DATE=$(( ( $(date +%s) - $(date -d "$SAVED_BUILD_DATE" +%s) )/(60*60*24) ))
          echo "days-since-last-build=$DAYS_SINCE_LAST_BUILD_DATE" >> "$GITHUB_OUTPUT"

  build:
    name: build new docker image
    needs: check
    if: |
      needs.check.outputs.needs-updating == 'true' || 
      needs.check.outputs.days-since-last-build > 50 || 
      github.event.inputs.force_build == 'yes'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # for multi architecture builds (x64, arm64, arm, ...)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64, linux/arm/v6, linux/arm/v7, linux/arm64/v8, linux/ppc64le, linux/s390x
          push: true
          tags: glopix/caddy-docker-proxy-with-acmedns:latest
          cache-from: type=registry,ref=glopix/caddy-docker-proxy-with-acmedns:latest
          cache-to: type=inline
        
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


  save-build-info:
    name: save build info
    needs: [check, build]
    runs-on: ubuntu-latest
    if: needs.build.result == 'success' && needs.build.result != 'skipped'
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          repository: ${{ github.repository }}
          ref: gh-workflows

      - name: save last image build date and release date to files
        run: |
            TODAY=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
            echo "$TODAY" > ./gh-workflow_image-build-date.txt

      - name: Commit updated release data
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: gh-workflows
          file_pattern: 'gh-workflow_*.txt'
          commit_message: "Update stored release info"
          commit_user_name: GitHub Actions Bot
          commit_user_email: github-actions-bot@none.dom
          commit_author: GitHub Actions Bot <github-actions-bot@none.dom>

          create_branch: true
         
